---
layout: default
---

<div class="container">
  <h1><%= data.title %></h1>
  <% if data.date %><div><span><%= data.date.strftime("%^b %d, %Y") %></span></div><% end %>
</div>

<div class="container">
  <%= yield %>
</div>

<div class="container" id="signature">
  <% if data.author %>
    <div><span style="font-style: italic;">— <%= data.author.capitalize %></span>
  <% else %>
    <span style="background-color: var(--cool-400); color: var(--cool-100); padding: .5rem 1rem;">Missing author name!</span>
  <% end %>
</div>

<div class="container">
  <a href="/posts" style="color: var(--blue-400); display: flex; align-items: start; gap: .5rem;">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20" style="cursor: pointer;">
      <path fill-rule="evenodd" d="M7.793 2.232a.75.75 0 01-.025 1.06L3.622 7.25h10.003a5.375 5.375 0 010 10.75H10.75a.75.75 0 010-1.5h2.875a3.875 3.875 0 000-7.75H3.622l4.146 3.957a.75.75 0 01-1.036 1.085l-5.5-5.25a.75.75 0 010-1.085l5.5-5.25a.75.75 0 011.06.025z" clip-rule="evenodd" />
    </svg>
    <span>Back to articles</span>
  </a>
</div>
